/* COMMON STYLES */

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;

}

.sectionName1 {
    margin: auto;
    font-size: 320%;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.sectionName2{font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Satisfy', cursive;
    color: rgb(243, 180, 7);
    font-size: 90%;
}


/* PAGE 1 + HEADER */
/* SAPANA */

/* PAGE 2 "What You'll Master" */
/* SAPANA */

/* PAGE 3 */
/* AMRIT */

/* PAGE 4 "Why Choose Us?" */
/* AMRIT */

/* PAGE 5 "Student Stories" */
/* SANCHIT */

/* PAGE 6 "Bonuses" */
/* SANCHIT */

#BONUSES {
    background-color: rgb(243, 253, 253);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-block: 1.8rem;
}

.bonuses {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonuses>span {
    margin-inline: 1.5%;
}

#bonusStar4 {
    margin-inline: 1.5%;
    height: 4rem;
    width: 4rem;
}

#bonusStar3 {
    margin-inline: 1.5%;
    height: 3.5rem;
    width: 3.5rem;
}

#bonusStar2 {
    margin-inline: 1.5%;
    height: 3rem;
    width: 3rem;
}

#bonusStar1 {
    margin-inline: 1.5%;
    height: 2.5rem;
    width: 2.5rem;
}

.bonusesContainer {
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
}
.bonusesBox{
    margin-block: 0.8%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    padding-bottom: 1.6rem;
    padding-top: 2.15rem;
    padding-inline: 1.2rem;
    width: 28.5%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -12px;
}

.bonusBoxTitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 7px;
}
.bonusBoxContent{
    font-size: 1.1rem;
    color: grey;
}

/* PAGE 7 "Get Certified" */
/* SANCHIT */

#CERTIFICATE{
    padding-block: 2%;
}
.certSection{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
    margin-left: 9%;
}
.certContent{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: inherit;
}
.certContent > span{
    margin-block: 1.3rem;
}
#certText{
    font-size: 1.6rem;
}
#getCertifiedNow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    background-color: #E9B824;
    font-weight: bold;
    font-size: 1.4rem;
    width: 37%;
    border-radius: 10px;
}

/* PAGE 8-9 "Know Your Mentor" */

.knowYourMentorDiv {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.mentorWord {
    color: #E9B824;
    font-weight: bold;

}

.knowYourMentorTitle {
    font-size: 40px;


}

.containerOfMentorInfo {
    border: 1px solid black;
    height: 500px;
    display: flex;
}

.mentorPhoto {
    height: 400px;
    width: 600px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
    background-image: url(file:///C:/Users/Sony%20Laptop/Desktop/assets/suhail%20tamboli%201.svg);
    background-repeat: no-repeat;
    background-size: cover;



}













/* AHMED */

/* PAGE 10 "QnA" */
/* AMRIT */

/* PAGE 11-12 "Footer" */
/* AHMED */